.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
 /* border: 1px dotted black;*/
}
th {
  text-align: left;
}
.errors {
  color: red;
}

.answer {
  border-left: 2px solid black;
  margin-left: 10px;
  padding-left: 20px;
}

#best_answer {
  border-left: 3px solid green;
  margin-left: 10px;
  padding-left: 20px;
}

.right {
  text-align: right
}

.jumbotron {
  border:1px solid black;
}

.content {
  border-bottom: 1px solid gray;
}




.glyphicon-star { color: #cc6600 }
.glyphicon-heart { color: red }
.glyphicon-thumbs-up { color: green }
.glyphicon-king { color: black }
