.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
 /* border: 1px dotted black;*/
}
th {
  text-align: left;
}
.errors {
  color: red;
}

.answer {
/*  border-left: 2px solid black;*/
  margin-left: 10px;
  padding-left: 20px;
}

#best_answer {
  margin-left:40%;
}

.right {
  text-align: right
}

.jumbotron {
  border:1px solid black;
}

#answers_title {
  margin-top: 5%;
  font-weight: bold;
  font-style: italic;
}

.question, .answer {
  position: relative;
  display: block;
  border-bottom: 1px solid gray;
}

/*.question > .content {
  padding-top: -20%;
}*/

.question > .voting_button {
  font-size: 2em;
  top: 10%;
}


.content {
  position: relative;
  display: inline-block;
  width: 96%;
  padding-left: 5%;
/*  margin-left: 10%;*/
/*  padding-top: -10%;*/
}

.voting_button {
  position: absolute;
  display: inline-block;
  z-index: 50;
  top: 5px;
  font-size: 1.25em;
}

.score {
  margin-left: 15%;
}

.right {
  position: absolute;
  right:0px;
  bottom:10%;
  opacity: 0.75;
}






.glyphicon-star { color: #cc6600 }
.glyphicon-heart { color: red }
.glyphicon-thumbs-up { color: green }
.glyphicon-king { color: black }
