.glyphicon {
  color: black;
}

.upvoted {
  color: green;
}

.downvoted {
  color: red;
}

.glyphicon.glyphicon-chevron-up:hover {
  color:green;
  cursor: pointer;
}

.glyphicon.glyphicon-chevron-down:hover {
  color:red;
  cursor: pointer;
}
