<div class="answer" data-id=<%=answer.id%> >
  <%=erb :'partials/_voting_button', locals: {object: answer} %>
  <div class="content">
    <%= erb :"partials/_answer_display", locals: {answer: answer} %>
    <%=erb :'partials/_show_comments', locals: {comments: answer.comments.reverse}%>
  </div>
</div>
