<form class = "comment_form" method="post" action="/comments">
  <textarea name="content" placeholder="Enter comment here" autofocus></textarea>
  <input type="submit" value="Submit Comment">
</form>
