<div class="comments">
  <ul>
    <% comments.each do |comment|%>
      <li><%= erb :'partials/_single_comment', locals: {comment: comment} %></li>
    <%end%>
  </ul>
</div>
<%=erb :'partials/_comment_link'%>
