<link rel="stylesheet" href="/css/voting_button.css">


<div class="voting_button">
<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ></span>
<br>
<span class="score"><%=object.score%></span>
<br>
<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</div>
