<div class="container">
  <div class="jumbotron">
    <%= erb :"partials/_sort_by_buttons" %>

    <% @questions.each_with_index do |question,i| %>
      <%= erb :"partials/_question_link", locals: {
        question: question,
        score: @scores[i],
        answer_count: @answer_counts[i]
      } %>
    <% end %><br>

    <% if current_user %>
      <h5><a href="/questions/new">Post a new question</a></h5>
    <% else %>
      <p>Please sign in to comment, add an answer, or post a new question.</p>
    <% end %>
  </div>
</div>
